<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
        <link href="Skolando.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div id="container">
            <header>
                <a href="Skolando.html">
                    <img src="logo.png" alt="skolando" />
                </a>
            </header>


            <nav>
                <a href="Skolando.html">
                    <div id ="hemknapp">
                        <span>Hem |</span>
                    </div>
                </a>

                <a href="index2.php?getAllHerr">
                    <div id ="herrknapp">
                        <span>Herrskor |</span>
                    </div>
                </a>

                <a href="index2.php?getAllDam">
                    <div id ="damknapp">
                        <span>Damskor |</span>
                    </div>
                </a>

                <a href="index2.php?getAllBarn">
                    <div id ="barnknapp">
                        <span>Barnskor |</span>
                    </div>
                </a>

                <div id ="omföretaget">
                    <span>Om företaget | </span>
                </div>

                <div id ="fraktretur">
                    <span>Frakt och Retur |</span>
                </div>

                <a href="index2.php?login" >
                    <div id ="loggain">
                        <span>Logga in |</span>
                    </div>
                </a>

                <div id ="sokfalt">

                    <div id ="varukorg">
                        <img src="kundvagn.png" alt="Thumb1" title="Kundvagn" width="60%" height="80%"/>
                    </div>


                </div>
            </nav>

            <main>
                <form action="index2.php?login" method="POST" class="pure-form pure-form-stacked">
                    <fieldset>               
                        <legend>Logga in</legend>

                        <label>Username:</label>
                        <input type="text" name="Användarnamn" value="">

                            <label>Password: </label>
                            <input type="password" name="Lösenord" value=""> 

                                <button type="submit" class="pure-button pure-button-primary">Logga in</button>


                                </fieldset>
                                </form>
                                </main>
